.styled-button {
    background-color: #457B9D !important;
}

#clear-button {
    background-color: #E63946 !important;
}

.styled-button:disabled {
    opacity: .4;
    pointer-events: none;
    cursor: not-allowed;
}

@media (max-width: 320px) {
    .styled-button {
        width: 50vw;
    }
  }