#sudoku-buttons {
    display: flex;
    width: 400px;
    gap: 10px;
    height: 40px;
    margin-top: 10px;
}


@media (max-width: 320px) {
    #sudoku-buttons {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
  }